/* BEGIN : COMMON for Components ********************** */

select {
	font-family: Arial, Helvetica, sans-serif;
	color: #333333; /* JJN: Was 4B4B4B */
	background-color: #FFFFFF;
}

H3 {
	/*color: #FF9201;*/
	color : #005a84;
	padding: 0px;
	font-size: 14px;
	margin: 0px;
}

.NEWpageTitle {
	white-space: nowrap;
	font-family: Arial, Helvetica, sans-serif;
	color: #333333;
	font-weight: bold;
	font-size: 16px;
	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: 4px;
	padding-left: 0px;
	margin: 0px;
}

.NEWpageTitleAS {
	white-space: nowrap;
	font-family: Arial, Helvetica, sans-serif;
	color: #333333;
	font-weight: bold;
	font-size: 16px;
	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: 4px;
	padding-left: 30px;
	margin: 0px;
}

.NEWwokErrorContainer .NEWpageTitle H1 { /* JJN added this to control Authentication Preference Selection head size */
	font-size: 20px;
}
#WoKerror .NEWwokErrorContainer { /* JJN added this to control Authentication Preference Selection section padding */
	padding-bottom: 1px;
}

.NEWbackLink a {
	color: #005a84;
	font-weight: bold;
}

.NEWwokSessionErrorContainer H3 {
	text-transform: uppercase;
	color: #333;
	padding: 0px;
	font-size: 14px;
	margin: 0px;
}

.NEWwokSessionErrorContainer {
	margin: 0px;
	padding: 45px;
}

.NEWwokSessionErrorContainer P {
	font-size: 13px;
	color: #333333; /* JJN: Was 4B4B4B */
	margin-bottom: 10px;
	margin-top: 15px;
	margin-right: 0px;
	margin-left: 0px;
}

.NEWwokSessionErrorContainer UL {
	margin-bottom: 10px;
	margin-top: 15px;
	margin-right: 0px;
	margin-left: 10px;
	padding: 0px;
}

.NEWwokSessionErrorContainer LI {
	font-size: 13px;
	color: #333333; /* JJN: Was 4B4B4B */
	margin-left: 20px;
}

.NEWsettingsContainer {
	background-color: #F8F8F8;
	margin: 0px;
}

.NEWsssContainer H3 {
	color: #333333;
	font-size: 14px;
	margin: 0px;
	text-indent: -25px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}


.NEWsssContainer H4 {
	color: #333333;
	font-size: 15px;
	margin: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 10px;
	padding-left: 0px;
}

/* JJN updated this -- before it was just P, which affectded all paragraphs everywhere since this css file is called on most pages */
.ui-dialog P, .moduleContentText P, .NEWpersContainer P, .NEWsettingsContainer P {
	MARGIN-BOTTOM: 10px;
	margin-right: 5px;
	margin-left: 5px;
	margin-top: 3px;
}

form {
	margin:0;
	padding:0;
}

/* END : COMMON for Components ********************** */

/* Page Title */
.NEWtopTitleBox {
	padding-bottom: 6px;
}


/* Sign In */

.NEWusername {
	margin-top: 10px;
	font-size: 13px;
	color: #333333; /* JJN: Was 3B3B3B */
}

.NEWpassword {
	margin-top: 5px;
	font-size: 13px;
	color: #333333; /* JJN: Was 3B3B3B */
}


/* Registration */

.NEWpassword_guidelines {
	background-color: #F2F2F2;
	padding: 4px;
	font-size: 12px;
}


/* Results Analysis */
.NEWsettingSection {
	padding-top: 10px;
}

.NEWsettingSectionTable {
	border: 1px solid #CCCCCC;
}

.NEWsettingSectionTable TH {
	border: 1px solid #CCCCCC;
	font-size: 13px;
	FONT-WEIGHT: bold;
	padding-top: 4px;
	padding-right: 8px;
	padding-bottom: 4px;
	padding-left: 8px;
	white-space: nowrap;
	background-color: #DADFE1;
	background-image: url(../images/navbg.gif);
	background-repeat: repeat-x;
	color: #333333; /* JJN: Was 4B4B4B */
}

.NEWsettingSectionTable TD {
	border: 1px solid #CCCCCC;
	white-space: nowrap;
	font-size: 13px;
	padding-top: 8px;
	padding-right: 8px;
	padding-bottom: 8px;
	padding-left: 8px;
	background-color: #FFFFFF;
	color: #333333; /* JJN: Was 4B4B4B */	
}

.NEWresultsSection {
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #CCCCCC;
	padding-top: 10px;
}

.NEWresultsNote {
	font-size: 13px;
	color: #333333; /* JJN: Was 4B4B4B */
	padding-top: 1px;
	padding-right: 3px;
	padding-bottom: 1px;
	padding-left: 3px;
}

.NEWresultsSectionTable {
}

.NEWresultsSectionTable TH {
	font-size: 13px;
	FONT-WEIGHT: bold;
	padding-top: 4px;
	padding-right: 8px;
	padding-bottom: 4px;
	padding-left: 8px;
	white-space: nowrap;
	background-color: #DADFE1;
	background-image: url(../images/navbg.gif);
	background-repeat: repeat-x;
	color: #333333; /* JJN: Was 4B4B4B */
	border: 1px solid #FFFFFF;
}

.raOutputButtons {
	text-align: left;
}

.NEWresultsSectionTable TD {
	font-size: 13px;
	color: #333333; /* JJN: Was 4B4B4B */
	border: 1px solid #FFFFFF;
	padding-top: 1px;
	padding-right: 3px;
	padding-bottom: 1px;
	padding-left: 3px;
}

.NEWRAresultsEvenRow {
	background-color: #EBF0F2;
}

.NEWRAresultsOddRow {
	background-color: #FFFFFF;
}

.NEWRAhitCount{
	font-size: 13px;
	color: #333333; /* JJN: Was 4B4B4B */
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 0px;
}

.NEWRAinstruct {
	font-size: 13px;
	color: #333333; /* JJN: Was 4B4B4B */
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 0px;
}
.NEWRAanlayzeButton {
	margin-top: 8px;
	margin-right: 8px;
	margin-bottom: 0px;
	margin-left: 8px;
}

.NEWsignInHead {
	font-size: 13px;
	font-weight: bold;
	color: #333333; /* JJN: Was 3B3B3B */
}

.NEWmoduleSignInColumn {
	padding-top: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
	padding-left: 15px;
	background-color: #E6E6E6;
	white-space: nowrap;
	vertical-align: top;
}

.NEWmoduleSignInColumn .NEWwokErrorMess {
	padding: 5px;
	max-width: 210px;
	white-space: normal;
}

.NEWmoduleSignInColumn ul {
	font-size: 13px;
	color: #333333; /* JJN: Was 3B3B3B */
	padding: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 15px;
}

.NEWmoduleSignInColumn li {
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	margin-left: 15px;
}
.NEWmoduleSignInColumn .NEWun-pw {
	margin-left: 15px;
}
.NEWmoduleSignInColumn .NEWrememberME {
	/* Remember Me text */
	font-size: 12px;
	padding-top: 6px;
	color: #333333; /* JJN: Was 3B3B3B */
}
.NEWmoduleSignInColumn #rememberme {
	/* Remember Me checkbox */
	margin-top: 6px;
	margin-left: 10px;
}
.NEWsignInBlurb {
	font-size: 13px;
	padding: 15px;
	vertical-align: top;
	color: #333333; /* JJN: Was 4B4B4B */
	text-align: left;
}
.sssServerSaveBox .NEWsignInBlurb {
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #CCCCCC;
}


#ForgotPassword .NEWsignInBlurb {
	text-align: center;
}
.NEWprefsLeftColumn {
	padding-top: 15px;
	padding-right: 15px;
	padding-bottom: 35px;
	padding-left: 0px;
	white-space: nowrap;
	vertical-align: top;
}

.NEWprefsHead {
	font-size: 13px;
	font-weight: bold;
	color: #333333; /* JJN: Was 3B3B3B */
}
.NEWprefsLeftColumn p {
	font-size: 13px;
	color: #333333; /* JJN: Was 3B3B3B */
	font-style: italic;
	padding-left: 25px;
}

.NEWprefsLeftColumn ul {
	font-size: 13px;
	color: #333333; /* JJN: Was 3B3B3B */
	border: 0 solid #D3D3D3;
    border-width: 0 0 1px 1px;
}

.NEWprefsLeftColumn li {
	list-style-type: none;
	padding-left: 25px;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-right: 25px;
	font-weight: bold;
	border: 0 solid #D3D3D3;
    border-width: 1px 1px 0 0;
	background-color: #F1F1F1;
	vertical-align:middle;
}

.NEWregSignInBlurb {
	font-size: 13px;
	vertical-align: middle;
	padding: 5px;
	color: #333333; /* JJN: Was 4B4B4B */
	text-align: left;
}

.NEWregErrorMess {
	font-size: 13px;
	font-weight: bold;
	color: #993333;
	margin-bottom: 10px;
	padding: 15px;
	background-color: #FFFFCC;
	border: 1px dashed #993333;
}

.NEWreg-prefsColumn {
	vertical-align: top;
	padding-top: 15px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 15px;
}

.NEWreg-prefsColumn h3 {
	color: #333333;
}

.NEWreg-prefsColumn ol {
	font-size: 13px;
	color: #333333; /* JJN: Was 3B3B3B */
	padding: 0px;
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 25px;
	font-weight: normal;
}

.NEWreg-prefsColumn li {
	padding: 0px;
	margin-left: 10px;
	font-style: italic;
	color: #333333; /* JJN: Was 4B4B4B */
}

.NEWprefsInstr {
	font-size: 13px;
	padding-left: 5px;
	color: #333333; /* JJN: Was 4B4B4B */
	padding-top: 10px;
}

.NEWreg-prefsTable {
	color: #333333; /* JJN: Was 3B3B3B */
	padding-top: 6px;
	padding-bottom: 6px;
	width: 100%;
	font-family: Arial, Helvetica, sans-serif;
}

.NEWreg-prefsTable_thinner {
	color: #333333; /* JJN: Was 3B3B3B */
	padding-top: 0px;
	padding-bottom: 6px;
	width: 100%;
}

.NEWreg-prefsLabel {
	font-size: 13px;
	color: #333333; /* JJN: Was 4B4B4B */
	font-weight: bold;
	padding-top: 2px;
	padding-right: 10px;
	padding-bottom: 2px;
	padding-left: 15px;
	text-align: right;
	white-space: normal;
	font-family: Arial, Helvetica, sans-serif;
}

.NEWreg-prefsLabel_Top {
	font-size: 13px;
	color: #333333; /* JJN: Was 4B4B4B */
	font-weight: bold;
	padding-top: 12px;
	padding-right: 10px;
	padding-bottom: 2px;
	padding-left: 15px;
	text-align: right;
	vertical-align: top;
	white-space: nowrap;
}

.NEWreg-prefsData {
	font-size: 12px;
	color: #333333; /* JJN: Was 4B4B4B */
	padding: 2px;
	font-family: Arial, Helvetica, sans-serif;
}


.NEWreg-prefsData select {
	font-family: Arial, Helvetica, sans-serif;
}

.NEWreg-prefsRule {
	background-color: #CCCCCC;
	padding: 0px;
	height: 1px;
	margin-top: 6px;
	margin-right: 0px;
	margin-bottom: 6px;
	margin-left: 0px;
}

.NEWreg-prefsRule_paddingabove {
	background-color: #CCCCCC;
	padding: 0px;
	height: 1px;
	margin-top: 16px;
	margin-right: 0px;
	margin-bottom: 6px;
	margin-left: 0px;
}

.NEWreg-prefsButtons {
	font-size: 12px;
	color: #333333; /* JJN: Was 3B3B3B */
	padding-top: 10px;
	padding-right: 2px;
	padding-bottom: 20px;
	padding-left: 2px;
	text-align: center;
	vertical-align: bottom;
}

.NEWreg-prefsButtons_Terms_SignIn {
	padding-top: 10px;
	padding-left: 200px;
	padding-bottom: 20px;
}



.NEWreg-prefsRadioButtons {
	padding: 0px;
	vertical-align: top;
	text-align: center;
}

.NEWreg-prefsButtons P {
	margin: 0px;
	padding: 0px;
	color: #333333; /* JJN: Was 4B4B4B */
}
.NEWreg-prefsStart {
	font-size: 13px;
	color: #333333; /* JJN: Was 3B3B3B */
	padding-right: 30px;
	padding-left: 30px;
	padding-top: 0px;
	padding-bottom: 0px;
	font-weight: bold;
}

.NEWreg-prefsError {
	color: #dc0a0a;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	white-space: nowrap;
}

.NEWwokErrorMess {
	font-size: 13px;
	font-weight: bold;
	color: #993333;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 15px;
	background-color: #FFFFCC;
	border: 1px dashed #993333;
}

.NEWmoduleSignInColumn .NEWwokErrorMess {
	padding: 5px;
}

.NEWmjlContainer .NEWwokErrorMess {
	font-size: 13px;
	font-weight: bold;
	color: #DC0A0A;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 0px;
	background-color: #F8F8F8;
	border: 0px none;
}

.pctItemErrorText {
	font-weight: bold;
	color: #F00;
	margin: 0px;
	padding: 0px;
}

.NEWregLeftColumn {
	padding-top: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
	padding-left: 15px;
	white-space: nowrap;
	vertical-align: top;
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px;
}

.NEWregRightColumn {
	padding-top: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
	padding-left: 15px;
	vertical-align: top;
}
.NEWregRightColumn P {
	vertical-align: top;
	font-size: 13px;
	color: #333333; /* JJN: Was 4B4B4B */
}
.NEWregInstr {
	font-size: 13px;
	font-weight: bold;
	color: #333333; /* JJN: Was 3B3B3B */
	padding-bottom: 10px;
}
.NEWregButtons {
	font-size: 13px;
	color: #333333; /* JJN: Was 3B3B3B */
	padding-top: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
	padding-left: 15px;
	text-align: center;
}
.regThankYouHead {
	font-size: 13px;
	color: #333333; /* JJN: Was 4B4B4B */
	font-weight: bold;
	text-align: left;
	padding-bottom: 5px;
}
.regThankYouText {
	font-size: 13px;
	color: #333333; /* JJN: Was 4B4B4B */
	text-align: left;
	padding-bottom: 5px;
}
.regThankYouInfo {
	font-weight: bold;
	padding-bottom: 2px;
	background-color: #F2F2F2;
}
.regThankYouInfo .regThankYouText {
	font-weight: bold;
	white-space: nowrap;
	margin: 0px;
	text-align: center;
}
.NEWast {
	font-weight: normal;
	color: #ff0000;
}
.NEWfpassHead {
	font-size: 13px;
	font-weight: bold;
	color: #333333; /* JJN: Was 4B4B4B */
	padding-left: 15px;
	text-align: center;
}

.NEWspacer {
	height: 1px;
	width: 1px;
}
.NEWRAworking {
	font-size: 13px;
	color: #333333; /* JJN: Was 4B4B4B */
	padding-bottom: 12px;
	padding-left: 4px;
	padding-top:8px;
}


.termsConditionsBox {
                font-style: normal;
                font-weight: normal;
                font-family: Arial, Helvetica, sans-serif;
                width: 90%;
                padding-top: 7px;
                padding-right: 7px;
                padding-bottom: 7px;
                padding-left: 7px;
                border: 2px solid #CCCCCC;
                height: 12em;
                font-size: 12px;
                overflow: scroll;
}

.dottedUnderline {
                border-bottom-width: 1px;
                border-bottom-style: dotted;
                border-bottom-color: #666;
                cursor: pointer;  /* use this line if you want to have the cursor change to a hand pointer on hover */
}

.example {
	font-size: 14px;
	color: #333333; /* JJN: Was 4B4B4B */
	padding-bottom: 6px;
}

.exampleLabel {
	font-style: italic;
}





/******************* Processing Records ***********************/
.QemailForm {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	padding-top: 5px;
}

.QprocInstruct, .umlSpecialText {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	padding: 5px;
}

.QprocText {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	padding-top: 5px;
}

.QprocExport {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	padding-top: 5px;
	font-weight: bold;
	color: #333333;
	padding: 5px;
}

.QprocDone {
	font-weight: bold;
	padding-top: 8px;
	padding-bottom: 8px;
}

.patentSelectContent DL {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	padding-top: 5px;
	color: #333333;
}
/************************* SSS ***************************/
.sssInst {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	padding-top: 5px;
	color: #333333;
	padding-bottom: 5px;
}
.sssSaveButtonText {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	padding-top: 5px;
	color: #333333;
	padding-bottom: 5px;
	padding-left: 8px;
}
.sssServerSaveBox {
	border: 1px solid #CCCCCC;
	margin-bottom: 10px;
	background-color: #E6E6E6;
	margin-top: 10px;
}
.sssLocalSaveBox {
	border: 1px solid #CCCCCC;
	background-color: #E6E6E6;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
}
.sssServerSaveBoxConfirm {
	margin-left: 30px;
	border: 1px solid #CCCCCC;
	margin-bottom: 10px;
	padding: 10px;
	margin-top: 10px;
	text-align: center;
}
.sssInstSteps {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #333333;
	padding-bottom: 5px;
	padding-left: 5px;
}
.sssFieldTable {
	background-color: #CCE7F2;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #CCCCCC;
	padding: 10px;
}
.sssFieldLabel {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	padding-top: 1px;
	color: #333333;
	padding-bottom: 1px;
	padding-left: 10px;
	font-weight: bold;
	text-align: right;
	white-space: nowrap;
}
.sssFieldLabel_2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	padding-top: 1px;
	color: #333333;
	padding-bottom: 1px;
	padding-left: 10px;
	font-weight: bold;
	text-align: right;
	white-space: nowrap;
}
.sssFieldValue {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	padding-top: 1px;
	color: #333333;
	padding-bottom: 1px;
	padding-left: 10px;
	text-align: left;
}
.sssServerSaveBox .sssSaveButton, .sssServerSaveBoxConfirm .sssSaveButton  {
	padding-top: 10px;
}
.sssLocalOpenInst {
	color: #333333;
	padding-bottom: 10px;
}
.sssServerDisplayChoice {
	font-size: 13px;
	color: #333333;
	padding-bottom: 10px;
}

/* Server Side Open Table ************************** */
.sss_table {
	border: 1px solid #CCCCCC;
	width: 100%;
}
.sss_table TH {
	font-size: 14px;
	COLOR: #333333;
	font-weight: bold;
	padding: 4px;
	border: 1px solid #CCCCCC;
	background-color: #FFFFFF;
}
.sss_table_row {
	font-size: 13px;
	font-family: Arial, Helvetica, sans-serif;
	padding-top: 2px;
	padding-right: 5px;
	padding-bottom: 2px;
	padding-left: 5px;
	border: 1px solid #CCCCCC;
	color: #333333;
	background-color: #FFFFFF;
}
.sssEmpty {
	font-size: 14px;
	COLOR: #333333;
	font-weight: bold;
	padding: 20px;
	border: 1px solid #CCCCCC;
	background-color: #FFFFFF;
	text-align: center;
}
.NEWRAlimitReached {
	background-color: #FFC;
	padding: 5px;
	color: #900;
	border: 1px dashed #900;
}
#AuthorFinder .NEWpageTitle {
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #CCC;
}
.AFContent{
	BACKGROUND-COLOR:#fff;
	font-size: 13px;
	}
.AFContentText TD{
	font-size: 13px;
	}
.AFContentText TH{
	font-size: 13px;
	FONT-WEIGHT:bold;
	padding-top:4px;
	padding-right:8px;
	padding-bottom:4px;
	padding-left:8px;
	}
.rule{
	border-color:#CCC black black;
	border-style:solid;
	border-top-width:2px;
	border-right-width:0;
	border-bottom-width:0;
	border-left-width:0;
	}
.stepBar{
	padding-top:4px;
	padding-bottom:4px;
	width:112%;
	padding-right:2px;
	background-color:#E6E6E6;
	border-top-style:none;
	border-right-style:none;
	border-bottom-style:none;
	border-left-style:none;
	}
.stepActive{
	font-family:Arial,Helvetica,sans-serif;
	font-size: 13px;
	font-weight:bold;
	color:#000;
	margin-top:2px;
	margin-right:2px;
	margin-bottom:2px;
	margin-left:8px;
	}
.stepArrow{
	font-family:Arial,Helvetica,sans-serif;
	font-size: 14px;
	font-weight:normal;
	color:#666;
	margin-bottom:8px;
	margin-left:8px;
	}
.stepNotActive{
	font-family:Arial,Helvetica,sans-serif;
	font-size: 12px;
	font-weight:normal;
	color:#666;
	margin-left:18px;
	margin-top:2px;
	margin-bottom:2px;
	}
.pageInstruction{
	font-family:Arial,Helvetica,sans-serif;
	font-weight:bold;
	margin-bottom:6px;
	font-size: 13px;
	margin-top:8px;
	margin-left: 5px !important; /* JJN added to space */
	}
.buttonBar{
	margin-top:0;
	margin-bottom:0;
	margin-right:0;
	margin-left:0;
	padding-top:2px;
	padding-bottom:2px;
	padding-right:2px;
	padding-left:2px;
	background-color:#E6E6E6;
	}
.step1AuthorBox{
	margin-top:8px;
	margin-bottom:12px;
	margin-right:0;
	margin-left:0;
	padding-top:2px;
	padding-bottom:2px;
	padding-right:2px;
	padding-left:40px;
	}
.step1AuthorBox TD{
	font-size: 13px;
	}
.step2AuthorBox, .step3SubCatBox, .step4InstBox {
	margin-top:0;
	margin-bottom:12px !important; /*JJN added important */
	margin-right:0;
	margin-left:0;
	padding-top:4px;
	padding-bottom:2px;
	padding-right:2px;
	padding-left:40px;
	}
	
.step2AuthorBox TD, .step3SubCatBox TD, .step4InstBox TD {
	font-size: 13px;
	}
.step2AuthorBox TH , .step3SubCatBox TH, .step4InstBox TH {
	font-size: 13px;
	FONT-WEIGHT:bold;
	padding-top:4px;
	padding-right:8px;
	padding-bottom:4px;
	padding-left:1px;
	background-color: #E6E6E6;
	}
.feedbackBox{
	margin-top:0;
	margin-bottom:6px;
	background-color:#F9F9F2;
	margin-right:0;
	margin-left:0;
	padding-top:2px;
	padding-bottom:2px;
	padding-right:2px;
	padding-left:2px;
	}
.statusBox{
	font-size: 13px;
	margin:0;
	padding:6px 10px;
	}
.addAnotherBox{
	margin-top:6px;
	margin-bottom:6px;
	margin-right:0;
	margin-left:0;
	padding-top:2px;
	padding-bottom:2px;
	padding-right:2px;
	padding-left:2px;
	}
.addAnotherText{
	font-family:Arial,Helvetica,sans-serif;
	font-size: 14px;
	color:#666;
	}
.tipsBoxCopy{
	margin-top:0;
	margin-bottom:0;
	background-color:#DDE3EE;
	margin-right:0;
	margin-left:0;
	padding-top:4px;
	padding-bottom:4px;
	padding-right:8px;
	padding-left:8px;
	border:#EED none;
	font-family:Arial,Helvetica,sans-serif;
	font-size: 12px;
	color:#4B4B4B;
	}


.tipsBox{
	margin-top:0;
	margin-bottom:0;
	background-color:#F2F2F2;
	margin-right:0;
	margin-left:0;
	padding-top:4px;
	padding-bottom:4px;
	padding-right:8px;
	padding-left:8px;
	border:#EED none;
	font-family:Arial,Helvetica,sans-serif;
	font-size: 12px;
	color:#4B4B4B;
	}
.NEWaufinderContainer .smallV75 {
	font-size: 13px;
}
.NEWpctTableHead {
	color:#3B3B3B;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	background-color: #E6E6E6;
	border: 1px solid #CCC;
}
.NEWpctTableData {
	font-size: 13px;
	color:#3B3B3B;
	border: 1px solid #CCC;
}
.moduleContentText {
	border:1px solid #CCC;
	margin-bottom: 10px;
	margin-top: 10px;
}
.MJLContentText {
	margin-bottom: 0px;
	margin-top: 0px;
}

/* BROWSE TOC STYLES */
.BRTitle{FONT-WEIGHT:bold;COLOR:#298929;FONT-FAMILY:Arial,Helvetica,sans-serif;font-size: 16px;padding-right:10px;white-space:nowrap;padding-left:10px;padding-top:4px;padding-bottom:2px;}
.browseSourceTitleList{font-family:Arial,Helvetica,sans-serif;padding-left:27px;padding-bottom:4px;padding-top:4;} /* JJN updated */
.browseToCTitle{
	font-size: 15px;
	font-weight:bold;
	text-align:center;
	color:#333;
	font-family:Arial,Helvetica,sans-serif;
	padding-top:3px;
	padding-bottom:3px;
	padding-right:2px;
	padding-left:2px;
}
.browseToCSection{
	font-size: 14px;
	text-align:center;
	font-family:Arial,Helvetica,sans-serif;
	padding-top:10px;
	padding-bottom:5px;
	padding-right:2px;
	padding-left:2px;
}
.browseToCRecord{font-size: 14px;font-family:Arial,Helvetica,sans-serif;padding-top:3px;padding-bottom:12px;padding-right:2px;padding-left:3px;}
.browsePrevNext{font-size: 14px;font-family:Arial,Helvetica,sans-serif;padding-top:5px;padding-bottom:3px;padding-right:3px;}
.browseSubheader{line-height:120%;font-weight:normal;vertical-align:middle;background-color:#EED;padding:5px 10px;}
.browseSubheaderTitle{font-weight:bold;}
.BRRange{
	text-align:left;
	color:#333;
	font-family:Arial,Helvetica,sans-serif;
	padding-top:6px;
	padding-bottom:6px;
	padding-left:12px;
	font-size: 13px;
}
.browseDiscListDisc{font-size: 13px;font-weight:bold;font-family:Arial,Helvetica,sans-serif;padding-top:8px;padding-left:12px;color:#333;width:101%;white-space:nowrap;border-top-width:1px;border-top-style:solid;border-top-color:#CCC;}
.browseDiscListToCWeb{font-size: 14px;font-family:Arial,Helvetica,sans-serif;padding-bottom:8px;padding-left:35px;font-weight:normal;padding-top:4px;white-space:nowrap;width:101%;}
.browseDiscListWeb{padding-left:40px;}
.cwcSiteTitle{font-size: 14px;font-weight:bold;font-family:Verdana,Arial,Helvetica,sans-serif;padding-top:10px;padding-left:3px;}
.cwcSiteURL{font-size: 14px;font-family:Verdana,Arial,Helvetica,sans-serif;padding-left:3px;}
.cwcSiteAbstract{font-size: 14px;font-family:Verdana,Arial,Helvetica,sans-serif;padding-left:3px;}
.cwcSiteFullReview{font-size: 14px;font-family:Verdana,Arial,Helvetica,sans-serif;padding-left:3px;padding-bottom:4px;}
.cwcSiteReviewdate{font-style:italic;padding-left:3px;}
.fullRecItem{vertical-align:text-top;}
.BRpagecntnav{PADDING-TOP:6px;vertical-align:top;font-size: 13px;}
.BRsub{ font-family:Arial,Helvetica,sans-serif;
	font-size: 14px;
	font-weight:bold;
	color:#333;
	padding-top:7px;
	padding-right:2px;
	padding-bottom:7px;
	padding-left:12px;
	background-color:#E6E6E6;
	margin-top:7px; }
.BRsub2{ font-family:Arial,Helvetica,sans-serif;
	font-size: 14px;
	font-weight:bold;
	padding-top:4px;
	padding-right:2px;
	padding-bottom:4px;
	padding-left:12px;
	background-color:#E6E6E6;
	margin-bottom:3px;
	margin-top: 3px;
	color: #333; }
.BRalpha{font-family:Arial,Helvetica,sans-serif;font-size: 14px;font-weight:bold;padding-top:6px;padding-right:2px;padding-left:28px;white-space:nowrap;padding-bottom:9px;} /* JJN updated */
.BReditions{font-family:Arial,Helvetica,sans-serif;font-size: 14px;font-weight:bold;padding-top:4px;padding-right:2px;padding-bottom:4px;padding-left:30px;white-space:nowrap;} /*JJN updated */
.BRbread{font-size: 12px;font-weight:bold;color:#333;padding-top:2px;padding-right:2px;padding-left:2px;padding-bottom:2px;}
.BRinstruct{font-size: 13px;color:#333;padding-right:2px;padding-bottom:6px;padding-left:12px;padding-top:4px;font-weight:normal;}
.BRsub2_label{font-weight:normal;color:#333;padding-right:3px;}
.BRjournal{ font-weight:bold;
	text-align:left;
	color:#333;
	font-family:Arial,Helvetica,sans-serif;
	padding-top:4px;
	padding-bottom:6px;
	padding-right:1px;
	padding-left:12px;
	font-size: 13px; }
.BRissues{ font-family:Arial,Helvetica,sans-serif;
	padding-left:27px;
	padding-bottom:1px;
	line-height:150%;
	font-size: 13px; }
.BRids{ font-size: 14px;
	white-space:nowrap;
	padding-left: 5px; }
.BRissn{ font-size: 14px;
	text-align:right;
	white-space:nowrap;
	padding-right: 5px; }
.BRvoliss{font-size: 14px;font-weight:bold;text-align:center;}
.BR_count{padding-left:12px;font-weight:bold;}
.BRRangeLabel{ font-weight:bold;
	padding-right: 3px; }
.BRhintTextBox{background-color:#F2F2F2;width:300px;margin-top:8px;margin-right:5px;margin-bottom:5px;margin-left:25px;}
.BRhintText{padding:5px;font-size: 13px;color:#333;}
.BRhintHead{font-size: 14px;font-weight:bold;color:#333;padding:5px;}
.BRnav{font-size: 13px;padding: 13px;}
.BR_editions{ font-family:Arial,Helvetica,sans-serif;padding-left:4px;font-size: 13px;text-indent:-04px;margin-left:24px;color:#333; }
.BR_edition{color:#333;}
.BR_database_category{font-size: 13px;font-weight:bold;color:#333;padding-top:6px;}
.BR_edition_plus{margin-left:22px;}
.BR_Settings {font-size: 13px;padding-top:0px;padding-left:10px;color:#4B4B4B; vertical-align:text-top}
.BR_limitsClosed{font-size: 13px;padding:5px; line-height:140%}
.CWCsummary_data{padding-top:12px;padding-bottom:8px;padding-left:12px;}
.CWCRecTitle{font-size: 150%;PADDING-BOTTOM:14px;COLOR:#298929;FONT-FAMILY:Arial,Helvetica,sans-serif;padding-top:12px;}
.CWC_data_row{font-size: 13px;PADDING-BOTTOM:10px;PADDING-TOP:1px;font-family:Arial,Helvetica,sans-serif;}
.CWC_data_table{padding-left:12px;}
.sss_alertTable {
	border: 1px solid #CCC;
	padding: 5px;
}

/******* MJL ********/
.mjl_table {
	border: 1px solid #CCCCCC;
	width: 100%;
}
.mjl_table TH {
	font-size: 13px;
	COLOR: #333333;
	font-weight: bold;
	padding: 4px;
	border: 1px solid #CCCCCC;
	background-color: #F8F8F8;
	white-space: nowrap;
}
.mjl_table_row {
	font-size: 13px;
	font-family: Arial, Helvetica, sans-serif;
	padding-top: 4px;
	padding-right: 5px;
	padding-bottom: 4px;
	padding-left: 5px;
	border: 1px solid #CCCCCC;
	color: #333333;
	background-color: #F8F8F8;
}

.mjl_table_row a {
	color: #005a84;
}

.NEWerror {
	color: #933;
	background-color: #FFC;
	border: 1px dashed #933;
	margin: 2px;
	padding: 3px;
}
.MJL_navText {
	font-size: 13px;
	color: #333;
}

.MJL_navText a {
	color: #005a84;
}

.MJL_submit {
	font-size: 13px;
	color: #333;
	margin-top: 5px;
	margin-bottom: 5px;
}
.MJLsubjectInstr {
	font-size: 13px;
	color: #333;
	font-weight: bold;
	padding-top: 20px;
	padding-bottom: 15px;
}
.MJLsubjectCat {
	font-size: 13px;
	color: #333;
}
.MJLsubjectCat a {
	color: #005a84;
}
.MJLconfirmNote {
	margin-bottom: 10px;
	padding-top: 6px;
	padding-right: 6px;
	padding-bottom: 6px;
	padding-left: 6px;
	border: 2px solid #CCC;
	font-size: 14px;
	color: #333;
	text-align: center;
	font-weight: bold;
	background-color: #E6E6E6;
}
/* this overrides the searchpage.css file for this BODY-tag-applied style to fix right edge on Run Limits page */
.NEWsearchPage .NEWrightOuterEdge {
	width: 1px;
}

/* RID Provide Credentials Pages */
/* Login Page */

RIDstyle h1 {
	background-color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	color: #333333;
	font-size: 16px;
	text-align: left;
	white-space: nowrap;
	font-weight: bold;
	padding-top: 4px;
	padding-left: 8px;
	padding-right: 20px;
	margin: 0px;
	padding-bottom: 20px;
}
.signInIntroText {
	font-size: 13px;
	color: #333333; /* JJN: Was 4B4B4B */
	padding-top: 10px;
	padding-right: 20px;
	padding-left: 8px;
	padding-bottom: 20px;
	margin: 0px;

}
.signInQuestionTable {
	margin-top: 0px;
	margin-right: 20px;
	margin-bottom: 20px;
	margin-left: 8px;
}
.signInQuestion {
	font-size: 13px;
	color: #333333; /* JJN: Was 4B4B4B */
	padding-top: 10px;
	padding-right: 20px;
	padding-left: 8px;
	padding-bottom: 20px;
	margin: 0px;
	font-weight: bold;

}
.signInAnswer {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #333333; /* JJN: Was 4B4B4B */
	padding-top: 10px;
	padding-left: 20px;
	padding-bottom: 10px;
	font-weight: bold;
	padding-right: 8px;
	white-space: nowrap;
}
.signInAnswerLink {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #5F5F5F;
	padding-top: 10px;
	padding-left: 0px;
	padding-bottom: 10px;
	font-weight: normal;
	padding-right: 0px;
	white-space: nowrap;
}

.loginTable {
	margin-bottom: 9px;
}

.loginBox {
	margin-left: 20px;
	margin-top: 10px;
	margin-right: 10px;
}
.blueLoginBox {
	background-color: #E6E6E6;
	background-repeat: repeat-x;
	background-position: top;
	margin-top: 0px;
	margin-right: 10px;
	margin-bottom: 10px;
}

.dashedDivider {
	border-top-width: 1px;
	border-top-style: dashed;
	border-top-color: #999999;
	height: 2px;
	margin-top: 10px;
	margin-bottom: 10px;
}


.loginBoxInstr {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #333333; /* JJN: Was 3B3B3B */
	padding-left: 2px;
	padding-bottom: 10px;
}
.loginBoxInstr2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #333333; /* JJN: Was 3B3B3B */
	padding-left: 2px;
	padding-top: 10px;
}

.loginBoxInstr_forgotPW {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #333333; /* JJN: Was 3B3B3B */
	padding-left: 2px;
	padding-top: 20px;
	padding-bottom: 10px;
}

.loginBoxInstr_forgotPW2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #333333; /* JJN: Was 3B3B3B */
	padding-left: 2px;
	padding-top: 20px;
	padding-bottom: 10px;
	margin-bottom: 300;
}

.loginFieldLabel {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #333333; /* JJN: Was 3B3B3B */
	text-align: right;
	white-space: nowrap;
}

.regFieldEntry {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #333333; /* JJN: Was 4B4B4B */
	text-align: left;
	white-space: nowrap;
}

.regFieldText {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #333333;
	text-align: left;
	white-space: nowrap;
}

.forgotPWlink {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	padding-top: 8px;
	padding-bottom: 0px;
}
.loginButtons {
	text-align: right;
	padding-top: 6px;
}

.loginButtons_forgotPW {
	text-align: right;
	padding-top: 10px;
	padding-bottom: 10px;
}

.loginSideText {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #5F5F5F;
	border: 1px dashed #999999;
	margin-top: 44px;
	padding: 6px;
	margin-right: 15px;
	margin-left: 30px;
}

.loginSideText P{
	margin-top: 4px;
	margin-bottom: 8px;
	margin-right: 4px;
	margin-left: 4px;
}

/* Error Messages */
.loginErrorBox {
	margin-top: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
	margin-bottom: 10px;
}
.loginErrorHead {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: bold;
	color: #FF6600;
	padding-top: 4px;
	padding-right: 6px;
	padding-bottom: 4px;
	padding-left: 6px;
	text-align: center;
}
.loginErrorText {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight:bold;
	color: #DC0A0A;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 15px;
}
.loginErrorText ul {
	padding-top: 2px;
	padding-right: 2px;
	padding-bottom: 6px;
	padding-left: 2px;
	margin-top: 2px;
	margin-right: 2px;
	margin-bottom: 2px;
	margin-left: 10px;
}
.loginErrorText li {
	padding-left: 0px;
}
.loginAlreadyInBox {
	border: 2px dashed #FF6600;
	padding-top: 2px;
	padding-bottom: 2px;
	background-color: #F9F9F9;
	margin-bottom: 20px;
	margin-top: 20px;
}
.loginAlreadyInText {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #5F5F5F;
	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: 10px;
	padding-left: 15px;
	margin: 0px;
}
.signInMainTable {
	width: 962px;
	margin-bottom: 20px;
}
.signInMainTableCol_1 {
	width: 582px;
}
.signInMainTableCol_2 {
	width: 380px;
	padding-top: 10px;
}

.signInBoxCell {
	padding-left: 40px;
	padding-bottom: 15px;
}
.signInSideText {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #333333; /* JJN: Was 4B4B4B */
	border: 1px dashed #999999;
	margin-top: 15px;
	padding: 6px;
	margin-right: 0px;
	margin-left: 0px;
	width: 350px;
	margin-bottom: 0px;
}

.signInSideText P{
	margin: 0px;
	padding-top: 4px;
	padding-right: 4px;
	padding-bottom: 8px;
	padding-left: 4px;
}
.signInSideText ul  {
	padding-top: 0px;
	margin-top: 2px;
	margin-bottom: 2px;
}

.signInSideText ul li {
	list-style-type: disc;
	list-style-position: outside;
	margin-left: 2.5em;
}

.forgotPWerrorBox {
	border: 2px dashed #FF6600;
	margin-top: 10px;
	padding-top: 2px;
	padding-bottom: 2px;
	background-color: #F9F9F9;
	margin-right: 1px;
	margin-left: 1px;
	margin-bottom: 0px;
}
.forgotPWerrorHead {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: bold;
	color: #FF6600;
	padding-top: 4px;
	padding-right: 6px;
	padding-bottom: 4px;
	padding-left: 6px;
	text-align: center;
}
.forgotPWerrorText {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #5F5F5F;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 10px;
	padding-left: 15px;
}
.blueBackTitle {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #5F5F5F;
	padding-top: 4px;
	padding-left: 2px;
}

/* Forgot Password for Save to RID */

.blueBackDescription {
	background-color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	color: #333333;
	font-size: 16px;
	text-align: left;
	white-space: nowrap;
	font-weight: bold;
	padding-top: 4px;
	padding-left: 8px;
	padding-right: 19px;
}

.blueBack, .blueBackHead {
	background-color: #CFE1EF;
	font-family: Arial, Helvetica, sans-serif;
	color: #333333;
	font-size: 16px;
	text-align: left;
	white-space: nowrap;
	font-weight: bold;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 8px;
}

.ets-button {
	cursor: pointer;
	cursor: hand;
}

.ets-cr-table-header {
	background-color: #f2f2f2;
}

/* New styles for author finder component --ggetz */

.afSearchBox {
	position:relative;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius:5px;
    border:1px solid #b9b9b9;
    box-shadow: inset 0px 0px 7px 0 rgba(0, 0, 0, .15);
    background:#FFF;
    padding-top: 0;
    padding-right: 12px;
    padding-bottom: 0;
    padding-left: 12px;
    max-width: 250px;
}

.letter {
	color: #5F5F5F;
}

.letter:Link {
	font-weight:bold;
	color: #005a84;
}
table.NEWsettingSectionTable select {
	font-size: 13px;
	padding: 3px;
	font-family: Arial, Helvetica, sans-serif;
	color: #333333;
	border: 1px solid #808080;
}
table.NEWsettingSectionTable input[type="text"]  {
	font-size: 13px;
	padding: 3px;
	font-family: Arial, Helvetica, sans-serif;
	color: #333333;
	border: 1px solid #808080;
}
